body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Navbar */

nav {
    display: flex;
    justify-content: flex-end;
}

ul {
    border: 3px solid yellow;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px;
    margin-right: 100px;
    position: relative;
    top: -65px;
}

li {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    font-weight: 600;
}

.Author-navcontainer {
    margin-top: 10px;
    width: 300px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.Author-navcontainer > div {
    border: 2px solid red;
    height: 30px;
}

#Author > p {
    position: relative;
    top: -22px;
}

#Author:hover, #Author:focus {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}


/* Heading Section */

.heading-section {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.heading-flex-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 23px;
}

.heading-flex-container > div {
    width: 1200px;
}

.heading-flex-container > div:first-child > p, .heading-flex-container-subheader > p, .button-container {
    position: relative;
    left: 35px;
}

.heading-flex-container-subheader {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 1200px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 70px;
}

.button-1, .button-2 {
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    border-radius: 10% 10% 10% 10%;
    transition: all 0.6s ease;
    transform: scale(1);
}

.button-1 > p, .button-2 > p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.button-1:hover, .button-2:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
    transform: scale(1.2) perspective(1px);
}

